USE [QLBH_BHX]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 12/11/2025 11:55:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MaCN] [nchar](10) NOT NULL,
	[TenCN] [nvarchar](150) NULL,
	[EmailCN] [nvarchar](150) NULL,
	[DiachiCN] [nvarchar](150) NULL,
	[SDT_CN] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chitiet_HD]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitiet_HD](
	[MaHD] [nchar](10) NOT NULL,
	[MaH] [nchar](10) NOT NULL,
	[SL] [int] NULL,
	[Dongia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaH] [nchar](10) NOT NULL,
	[TenH] [nvarchar](100) NULL,
	[DVT] [nvarchar](30) NULL,
	[DonGiaNhap] [float] NULL,
	[DonGiaBan] [float] NULL,
	[MotaH] [ntext] NULL,
	[NoiSX] [nvarchar](100) NULL,
	[HSD] [date] NULL,
	[NgaySX] [date] NULL,
	[MaLH] [nchar](10) NOT NULL,
	[MaNCC] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nchar](10) NOT NULL,
	[TenHD] [nvarchar](100) NULL,
	[NgayLapHD] [date] NULL,
	[Ghichu] [ntext] NULL,
	[MaNV] [nchar](10) NOT NULL,
	[MaKH] [nchar](10) NOT NULL,
	[MaPTTT] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nchar](10) NOT NULL,
	[HotenKH] [nvarchar](150) NULL,
	[SDT_KH] [nvarchar](10) NULL,
	[NgaysinhKH] [date] NULL,
	[GioitinhKH] [nvarchar](5) NULL,
	[DiachiKH] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLH] [nchar](10) NOT NULL,
	[TenLH] [nvarchar](100) NULL,
	[MotaLH] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nchar](10) NOT NULL,
	[TenNCC] [nvarchar](150) NULL,
	[SDT_NCC] [nvarchar](15) NULL,
	[DiachiNCC] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nchar](10) NOT NULL,
	[HotenNV] [nvarchar](150) NULL,
	[GioitinhNV] [nvarchar](5) NULL,
	[NgaysinhNV] [date] NULL,
	[SDT_NV] [nvarchar](10) NULL,
	[DiachiNV] [nvarchar](150) NULL,
	[ChucvuNV] [nvarchar](100) NULL,
	[MaCN] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTTT]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTTT](
	[MaPTTT] [nchar](10) NOT NULL,
	[TenPTTT] [nvarchar](100) NULL,
	[Mota] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 12/11/2025 11:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[MaH] [nchar](10) NOT NULL,
	[MaCN] [nchar](10) NOT NULL,
	[SL_ton] [int] NULL,
	[Ngaycapnhap] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaH] ASC,
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([MaCN], [TenCN], [EmailCN], [DiachiCN], [SDT_CN]) VALUES (N'CN01      ', N'Bách Hóa Xanh Lê Văn Việt', N'cn01.bhx@mwg.vn', N'50 Lê Văn Việt, Phường Hiệp Phú, TP. Thủ Đức, TP. HCM', N'02837112233')
INSERT [dbo].[ChiNhanh] ([MaCN], [TenCN], [EmailCN], [DiachiCN], [SDT_CN]) VALUES (N'CN02      ', N'Bách Hóa Xanh Quang Trung', N'cn02.bhx@mwg.vn', N'120 Quang Trung, Phường 10, Quận Gò Vấp, TP. HCM', N'02838651234')
INSERT [dbo].[ChiNhanh] ([MaCN], [TenCN], [EmailCN], [DiachiCN], [SDT_CN]) VALUES (N'CN03      ', N'Bách Hóa Xanh Âu Cơ', N'cn03.bhx@mwg.vn', N'200 Âu Cơ, Phường 9, Quận Tân Bình, TP. HCM', N'02838123456')
GO
INSERT [dbo].[Chitiet_HD] ([MaHD], [MaH], [SL], [Dongia]) VALUES (N'HD01      ', N'HH01      ', 2, 24000)
INSERT [dbo].[Chitiet_HD] ([MaHD], [MaH], [SL], [Dongia]) VALUES (N'HD01      ', N'HH02      ', 1, 26000)
INSERT [dbo].[Chitiet_HD] ([MaHD], [MaH], [SL], [Dongia]) VALUES (N'HD02      ', N'HH15      ', 2, 18000)
GO
INSERT [dbo].[HangHoa] ([MaH], [TenH], [DVT], [DonGiaNhap], [DonGiaBan], [MotaH], [NoiSX], [HSD], [NgaySX], [MaLH], [MaNCC]) VALUES (N'HH01      ', N'Rau cải xanh', N'Kg', 18000, 24000, N'Rau sạch thu hoạch trong ngày', N'Lâm Đồng', CAST(N'2025-05-15' AS Date), CAST(N'2025-05-10' AS Date), N'LH01      ', N'NCC01     ')
INSERT [dbo].[HangHoa] ([MaH], [TenH], [DVT], [DonGiaNhap], [DonGiaBan], [MotaH], [NoiSX], [HSD], [NgaySX], [MaLH], [MaNCC]) VALUES (N'HH02      ', N'Cà rốt Đà Lạt', N'Kg', 20000, 26000, N'Cà rốt tươi loại 1', N'Lâm Đồng', CAST(N'2025-06-01' AS Date), CAST(N'2025-05-01' AS Date), N'LH01      ', N'NCC01     ')
INSERT [dbo].[HangHoa] ([MaH], [TenH], [DVT], [DonGiaNhap], [DonGiaBan], [MotaH], [NoiSX], [HSD], [NgaySX], [MaLH], [MaNCC]) VALUES (N'HH03      ', N'Khoai tây Đà Lạt', N'Kg', 22000, 29000, N'Khoai tây sạch, ngon', N'Lâm Đồng', CAST(N'2025-06-30' AS Date), CAST(N'2025-05-05' AS Date), N'LH01      ', N'NCC02     ')
GO
INSERT [dbo].[HoaDon] ([MaHD], [TenHD], [NgayLapHD], [Ghichu], [MaNV], [MaKH], [MaPTTT]) VALUES (N'HD01      ', N'Hóa đơn số 1', CAST(N'2025-03-01' AS Date), NULL, N'NV01      ', N'KH01      ', N'PT01      ')
INSERT [dbo].[HoaDon] ([MaHD], [TenHD], [NgayLapHD], [Ghichu], [MaNV], [MaKH], [MaPTTT]) VALUES (N'HD02      ', N'Hóa đơn số 2', CAST(N'2025-03-01' AS Date), NULL, N'NV04      ', N'KH03      ', N'PT06      ')
INSERT [dbo].[HoaDon] ([MaHD], [TenHD], [NgayLapHD], [Ghichu], [MaNV], [MaKH], [MaPTTT]) VALUES (N'HD03      ', N'Hóa đơn số 3', CAST(N'2025-03-03' AS Date), NULL, N'NV02      ', N'KH05      ', N'PT02      ')
GO
INSERT [dbo].[KhachHang] ([MaKH], [HotenKH], [SDT_KH], [NgaysinhKH], [GioitinhKH], [DiachiKH]) VALUES (N'KH01      ', N'Nguyễn Thị Thu Hằng', N'0935123478', CAST(N'1998-03-12' AS Date), N'Nữ', N'Quận 1, TP.HCM')
INSERT [dbo].[KhachHang] ([MaKH], [HotenKH], [SDT_KH], [NgaysinhKH], [GioitinhKH], [DiachiKH]) VALUES (N'KH02      ', N'Lê Minh Tùng', N'0908123456', CAST(N'1995-07-25' AS Date), N'Nam', N'Quận 3, TP.HCM')
INSERT [dbo].[KhachHang] ([MaKH], [HotenKH], [SDT_KH], [NgaysinhKH], [GioitinhKH], [DiachiKH]) VALUES (N'KH03      ', N'Phạm Hoài Nam', N'0978456123', CAST(N'2000-11-05' AS Date), N'Nam', N'Gò Vấp, TP.HCM')
GO
INSERT [dbo].[LoaiHang] ([MaLH], [TenLH], [MotaLH]) VALUES (N'LH01      ', N'Rau - Củ - Trái cây nội địa', N'Rau củ và trái cây tươi tiêu thụ hằng ngày')
INSERT [dbo].[LoaiHang] ([MaLH], [TenLH], [MotaLH]) VALUES (N'LH02      ', N'Thịt - Cá - Hải sản tươi', N'Thịt heo, gà, cá, hải sản tươi sống')
INSERT [dbo].[LoaiHang] ([MaLH], [TenLH], [MotaLH]) VALUES (N'LH03      ', N'Gạo - Mì - Thực phẩm khô', N'Gạo, mì gói, bún khô, hạt và các loại đồ khô')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT_NCC], [DiachiNCC]) VALUES (N'NCC01     ', N'Nông trại rau sạch Đà Lạt', N'02633881234', N'Xã Xuân Thọ, TP. Đà Lạt, Lâm Đồng')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT_NCC], [DiachiNCC]) VALUES (N'NCC02     ', N'Hợp tác xã Rau Củ Việt', N'0283712345', N'Phường Linh Trung, TP. Thủ Đức, TP. HCM')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT_NCC], [DiachiNCC]) VALUES (N'NCC03     ', N'Trang trại Thịt Sạch Miền Tây', N'0292388899', N'Huyện Phong Điền, TP. Cần Thơ')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HotenNV], [GioitinhNV], [NgaysinhNV], [SDT_NV], [DiachiNV], [ChucvuNV], [MaCN]) VALUES (N'NV01      ', N'Nguyễn Minh Khang', N'Nam', CAST(N'1998-03-12' AS Date), N'0905123478', N'Quận 1, TP.HCM', N'Nhân viên bán hàng', N'CN01      ')
INSERT [dbo].[NhanVien] ([MaNV], [HotenNV], [GioitinhNV], [NgaysinhNV], [SDT_NV], [DiachiNV], [ChucvuNV], [MaCN]) VALUES (N'NV02      ', N'Lê Thị Mỹ Hạnh', N'Nữ', CAST(N'1999-07-25' AS Date), N'0938123456', N'Bình Thạnh, TP.HCM', N'Kế toán', N'CN01      ')
INSERT [dbo].[NhanVien] ([MaNV], [HotenNV], [GioitinhNV], [NgaysinhNV], [SDT_NV], [DiachiNV], [ChucvuNV], [MaCN]) VALUES (N'NV03      ', N'Phạm Tuấn Kiệt', N'Nam', CAST(N'1995-11-04' AS Date), N'0978456123', N'Gò Vấp, TP.HCM', N'Thủ kho', N'CN02      ')
GO
INSERT [dbo].[PTTT] ([MaPTTT], [TenPTTT], [Mota]) VALUES (N'PT01      ', N'Tiền mặt', N'Thanh toán trực tiếp bằng tiền mặt tại cửa hàng')
INSERT [dbo].[PTTT] ([MaPTTT], [TenPTTT], [Mota]) VALUES (N'PT02      ', N'Chuyển khoản ngân hàng', N'Khách hàng chuyển khoản qua tài khoản ngân hàng của cửa hàng')
INSERT [dbo].[PTTT] ([MaPTTT], [TenPTTT], [Mota]) VALUES (N'PT03      ', N'Quẹt thẻ ATM', N'Thanh toán bằng thẻ ATM nội địa qua máy POS')
GO
INSERT [dbo].[TonKho] ([MaH], [MaCN], [SL_ton], [Ngaycapnhap]) VALUES (N'HH01      ', N'CN01      ', 120, CAST(N'2025-01-05' AS Date))
INSERT [dbo].[TonKho] ([MaH], [MaCN], [SL_ton], [Ngaycapnhap]) VALUES (N'HH02      ', N'CN02      ', 90, CAST(N'2025-01-07' AS Date))
INSERT [dbo].[TonKho] ([MaH], [MaCN], [SL_ton], [Ngaycapnhap]) VALUES (N'HH03      ', N'CN03      ', 140, CAST(N'2025-01-10' AS Date))
GO
ALTER TABLE [dbo].[Chitiet_HD]  WITH CHECK ADD FOREIGN KEY([MaH])
REFERENCES [dbo].[HangHoa] ([MaH])
GO
ALTER TABLE [dbo].[Chitiet_HD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([MaLH])
REFERENCES [dbo].[LoaiHang] ([MaLH])
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPTTT])
REFERENCES [dbo].[PTTT] ([MaPTTT])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaCN])
REFERENCES [dbo].[ChiNhanh] ([MaCN])
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD FOREIGN KEY([MaCN])
REFERENCES [dbo].[ChiNhanh] ([MaCN])
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD FOREIGN KEY([MaH])
REFERENCES [dbo].[HangHoa] ([MaH])
GO
